node_modules
dist
dist-electron
dist-backend
release
.electron-dev
.DS_Store
*.log
.env
storage/cache/*
!storage/cache/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/uploads/*
!storage/uploads/.gitignore
!storage/uploads/avatars
storage/uploads/avatars/*
!storage/uploads/avatars/.gitkeep
